* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /* height: 100vh; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex; */
}


/* NAVBAR */
nav {
    width: 40%;
    /* margin: 0 auto; */
    /* height: 20%; */
    background-color: rgba(0, 52, 75, 0.712);
    border-radius: 12px;
    padding: 1rem;
    color: #ccc;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
}

nav ul li a:hover {
    color: #a5d2ff;
    background-color: rgba(0, 52, 75, 0.888);
}


/* MAIN */
main {
    width: 70%;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* background-color: brown; */
}

#title-div {
    margin-bottom: 4.5rem;
    color: #0d00ff;
    font-size: 28px;
}

#content-div {
    /* width: 70%; */
    height: 15rem;
    /* background-color: brown; */
    display: flex;
    gap: 5rem;
    /* padding: 1rem; */
}

.img-div {
    width: 30%;
    /* height: 30%; */
    /* background-color: blueviolet; */
    border-radius: 12px;
    overflow: hidden;
    border-radius: 50%;
}

.img-div img {
    height: 100%;
    /* width: 100%; */
}

.desc-div {
    width: 60%;
    background-color: rgba(0, 52, 75, 0.712);
    color: #ccc;
    border-radius: 15px;
    padding: 2rem;
    font-size: 20px;
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 52, 75, 0.712);
    text-align: center;
    color: #ccc;
}

footer a {
    text-decoration: none;
    color: #a5d2ff;
    transition: color 0.1s ease-in;
}

footer a:hover {
    color: #0d00ff;
}

footer button {
    background: transparent;
    border: 1px solid #a5d2ff;
    border-radius: 2px;
    padding: 0.1rem 0.4rem;
}