@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    /* height: 100vh; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: flex; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "DM Serif Display", serif;
    letter-spacing: 3px;
}


/* NAVBAR */
nav {
    width: 40%;
    /* margin: 0 auto; */
    /* height: 20%; */
    background-color: rgba(0, 52, 75, 0.712);
    border-radius: 12px;
    padding: 1rem;
    color: #ccc;
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: "DM Serif Display", serif;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    /* flex-direction: row; */
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
}

nav ul li a:hover {
    color: #a5d2ff;
    background-color: rgba(0, 52, 75, 0.888);
}

/* MAIN */
main {
    width: 80%;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* background-color: brown; */
}

#title-div {
    margin-bottom: 2.5rem;
    color: #0d00ff;
    font-size: 28px;
    font-family: "DM Serif Display", serif;
    letter-spacing: 5px;
}

#content-div {
    width: 100%;
    height: 20rem;
    /* background-color: brown; */
    display: flex;
    gap: 2rem;
    /* padding: 1rem; */
}

/* .img-div {} */
    /* width: 60%; */
    /* height: 30%; */
    /* background-color: blueviolet; */
    /* border-radius: 12px; */
    /* overflow: hidden; */
    /* border-radius: 50%; */


.img-div img {
    height: 110%;
    /* width: 100%; */
}

.desc-div {
    width: 100%;
    background-color: rgba(0, 52, 75, 0.712);
    color: #ccc;
    border-radius: 15px;
    padding: 2rem;
    font-size: 20px;
    line-height: 1.5;
    overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #00007293; 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00014eac; 
}

.desc-div h3 {
    margin-top: 2rem;
    color: #0d00ff;
    font-size: 26px;
}

.item1 h5 {
    /* color: #a5d2ff; */
    color: gold;
    text-decoration: underline;
    font-size: 22px;
    margin-top: 1rem;
}

.item1 p {
    color: gold;
    font-style: oblique;
    /* text-decoration: underline; */
}

.item2 h5 {
    /* color: #a5d2ff; */
    color: rgb(255, 58, 58);
    text-decoration: underline;
    font-size: 22px;
    margin-top: 1rem;
}

.item2 p {
    color: rgb(255, 58, 58);
    font-style: oblique;
    /* text-decoration: double; */
}

.item3 h5 {
    /* color: #a5d2ff; */
    color: rgb(198, 84, 255);
    text-decoration: underline;
    font-size: 22px;
    margin-top: 1rem;
}

.item3 p {
    color: rgb(198, 84, 255);
    font-style: oblique;
    /* text-decoration: double; */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 52, 75, 0.712);
    text-align: center;
    color: #ccc;
    padding: 0.2rem;
}

footer a {
    text-decoration: none;
    color: #a5d2ff;
    transition: color 0.1s ease-in;
}

footer a:hover {
    color: #0d00ff;
}

footer button {
    background: transparent;
    border: 1px solid #a5d2ff;
    border-radius: 2px;
    padding: 0.1rem 0.4rem;
}